.board {
    background-color: green;
    width: 70%;
    height: 700px;

}

.top-row {
    display: flex;
    justify-content: space-around;
}

.deck {
    display: flex;
    margin: 5px;
}

.piles {
    display: flex;
}

.pile {
    border:1px yellow solid;
    height: 100px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.pile-suit {
    font-size: 50px;
}

.stacks-section {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}