.top-row {
    display: flex;
    justify-content: space-between;
}

.deck {
    display: flex;
    justify-content: space-between;
}

.deck-pile {
    margin: 5px;
}

.piles {
    display: flex;
}

.pile {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100px;
    position: relative;
}

.highlighted {
    background-color: yellow !important;
}

.stacks-section {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.stack {
    margin: 5px;
}