.top-row {
    display: flex;
    justify-content: space-between;
}

.deck {
    display: flex;
    justify-content: space-between;
}

.deck-pile {
    margin: 5px;
}

.piles {
    display: flex;
}

.pile {
    margin: 5px;
}

.stacks-section {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.stack {
    margin: 5px;
}